a{
    color: black;
}

.profile-container{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.profile-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 2rem 0;
    align-items: center;
}

.profile-header a{
    color: #141414;
    font-size: 1.2rem;
}

button {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #4db3ff;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

.edit-user-form {
    height: auto;
    border-radius: 0.3rem;
    background-color: #ffffff;
}

form .division{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

button {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #4db3ff;
    border-radius: 0.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

.edit-user-form h1 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1.5rem;
}

form > div > p {
    color: #1414147d;
    font-weight: 600;
    font-size: 0.9rem;
}

form .division div p{
    color: #1414147d;
    font-weight: 600;
    font-size: 0.9rem;
}

form {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

form input {
    width: 100%;
    height: 2.5rem;
    background: none;
    border-bottom: 2px solid #4db3ff;
    color: rgb(0, 0, 0);
    cursor: text;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.details-edit {
    height: 1.8rem;
    bottom: 0;
    margin-bottom: 1.5rem;
    right: 0;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 50%;
    background-color: rgb(30%, 70%, 100%);
    font-size: 0.9rem;
}

form input.is-invalid {
    border-color: red;
}

.form input {
    background: white;
}

form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form button {
    font-weight: 700;
    background-color: black;
}

form div {
    position: relative;
}

form button.invalid {
    background-color: rgb(0, 0, 0, 0.5);
}

.edit-user-form>a {
    display: block;
    margin: 1rem;
    font-size: 0.9rem;
    color: rgb(44, 44, 44);
}

.edit-user-form > a > span {
    margin-left: 0.3rem;
    color: rgb(23, 23, 23);
    font-size: 1.1rem;
}

.edit-user-form .last {
    font-size: 0.7rem;
}

.error {
    color: red;
    font-size: 0.9rem;
    display: block;
}
