.flip-card {
    background-color: transparent;
    width: 256px;
    height: 190px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #4db3ff;
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, white 60%, #4db3ff 88%,
            #4db3ff 40%, #4db3ff 48%);
    color: black;
}

.flip-card-front img,
.flip-card-back img {
    width: 90%;
    margin: 0 auto;
    mix-blend-mode: multiply;
    transition: all 300ms ease;
}

.flip-card-back {
    border: 1px solid #fff;
    background: linear-gradient(120deg, white 60%, #4db3ff 88%,
            #4db3ff 40%, #4db3ff 48%);
    color: black;
    transform: rotateY(180deg);
}


.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.see-more {
    align-items: center;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

button.see-more:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

button.see-more:hover:before {
    background-color: #000;
    width: 3rem;
}

button.add-to-cart {
    height: auto;
    margin: 0.5em;
    padding: 0.7rem 1rem;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button.add-to-cart:hover {
    color: black;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.25);
}

button.add-to-cart:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button.add-to-cart:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.layer{
    width: 100%;
    height: 0%;
    background: #ffffffd4;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #1414144a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.flip-card-back:hover img{
    transform: scale(1.1);
}

.flip-card-back:hover .layer{
    height: 100%;
}
