<section class="profile">
    <div class="profile-container">
        <div class="profile-header">
            <a [routerLink]="'/account'"><fa-icon [icon]="solid.faAngleLeft"></fa-icon></a>
            <h3>Change Password</h3>
            <a style="opacity: 0;">
                <fa-icon [icon]="solid.faEllipsisVertical"></fa-icon>
            </a>
        </div>
        <div class="edit-user-form">
            <form [formGroup]="user" (ngSubmit)="handleSignup()">
                <div class="password">
                    <input formControlName='password' type="password" name="password" placeholder="Password"
                        [ngClass]="{'is-invalid': r['password'].touched && r['password'].errors}">
                    <small *ngIf="r['password'].touched && r['password'].errors?.['required']" class="error">Must
                        Enter A Password</small>
                    <small *ngIf="r['password'].touched && r['password'].errors?.['minlength']"
                        class="error">Password should contain 8 characters</small>
                </div>
                <div class="newPassword">
                    <input formControlName='newPassword' type="password" name="newPassword" placeholder="New Password"
                        [ngClass]="{'is-invalid': r['newPassword'].touched && r['newPassword'].errors}">
                    <small *ngIf="r['newPassword'].touched && r['newPassword'].errors?.['required']" class="error">Must
                        Enter New Password</small>
                    <small *ngIf="r['newPassword'].touched && r['newPassword'].errors?.['minlength']"
                        class="error">Password should contain 8 characters</small>
                </div>
                <div class="confirmPassword">
                    <input formControlName='confirmPassword' type="password" name="confirmPassword"
                        placeholder="Confirm Your Password"
                        [ngClass]="{'is-invalid': r['confirmPassword'].touched && r['confirmPassword'].errors}">
                    <small *ngIf="r['confirmPassword'].touched && r['confirmPassword'].errors?.['required']"
                        class="error">Enter Your Password Again</small>
                    <small *ngIf="r['confirmPassword'].touched && r['confirmPassword'].errors?.['mustMatch']"
                        class="error">Both Passwords Should Match</small>
                </div>
                <button [ngClass]="{'invalid':this.user.touched && this.user.invalid}" type="submit">Signup</button>

            </form>
        </div>
    </div>
</section>