
button {
    height: auto;
    /* margin: 0.5em; */
    padding: 0.3rem 0.5rem;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.25);
}

button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

