<div class="product-details">
    <div class="left">
        <div class="sub-images">
            <div class="loader">
                <div class="wrapper">
                    <div class="image"></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="image"></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="image"></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="image"></div>
                </div>
            </div>
        </div>
        <div class="main-image">
            <div class="loader">
                <div class="wrapper">
                    <div class="image"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="brand">
            <a>
                <div class="loader">
                    <div class="wrapper">
                        <div class="line w-50"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="name">
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
        </div>
        <div class="price">
            <div class="loader">
                <div class="wrapper">
                    <!-- <div class="line "></div> -->
                </div>
            </div>
        </div>
        <div class="description">
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
            <div class="loader">
                <div class="wrapper">
                    <div class="line "></div>
                </div>
            </div>
        </div>
        <div class="btn btn-1">
            <div class="loader">
                <div class="wrapper">
                    <div class="line button "></div>
                    <div class="line button button-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>