nav {
  width: 100%;
}

a {
  color: black;
}

.mobile {
  display: none;
}


.nav-main {
  height: 5rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.nav-logo svg {
  height: 3rem;
}

.nav-logo svg #title {
  stroke: black;
  fill: #000;
  stroke-width: 1px;
  stroke-dasharray: 664;
  animation: newAnime 7s ease infinite;
}

@keyframes newAnime {
  0% {
      stroke-dashoffset: 664;
  }

  50%{
      stroke-dashoffset: 0;
      fill: #fff;
  }

  100% {
      stroke-dashoffset: 664;
      fill: #000;
  }
}

.nav-links li{
  cursor: pointer;
}

.nav-links li a {
  transition: all 300ms ease;
}

.nav-links li a:hover{
  color: rgb(30%, 70%, 100%);
}

.nav-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  border: 1px solid black;
  height: 2.5rem;
  border-radius: 0.5rem;
  /* background-color: #f0f0ff; */
}

.nav-search input {
  background-color: transparent;
  width: calc(100vw - 40rem);
}

.nav-user-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-user-actions a,
.nav-mobile-user-actions a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.nav-user-actions a > small,
.nav-mobile-user-actions a > small,
.nav-mobile-links a > small{
  height: 1.5rem;
  aspect-ratio: 1/1;
  background-color: rgb(30%, 70%, 100%);
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 0.9rem;
  position: absolute;
  right: -1rem;
  top: 0;
}

.nav-mobile-links a > small{
  height: 1.2rem;
  font-size: 0.8rem;
}

.nav-menu .nav-container {
  justify-content: space-around;
}

.nav-menu .nav-container .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu .nav-container .nav-links a {
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu .nav-container .nav-links li fa-icon{
  color: rgb(30%, 70%, 100%);
  display: none;
}

.nav-user-actions a img{
  height: 2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.notification-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    width: 30%;
    min-width: 300px;
    right: 2%;
    top: 0.5rem;
    background-color: #fff;
    z-index: 999;
    height: 95vh;
    overflow-y: scroll;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    transition: all 400ms ease;
}

.notification-container::-webkit-scrollbar{
  display: none;
}

.notification-header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #1414143d;
}

app-notification{
  height: 100%;
}




@media screen and (max-width: 740px) {
  .mobile {
    display: block;
  }

  .nav-search,
  .nav-user-actions{
    display: none;
  }

  .nav-mobile-user-actions a{
    font-size: 1.7rem;
  }

  

  .nav-menu{
    display: block;
    position: fixed;
    width: 100vw;
    background:white;
    height: auto;
    min-height: 100vh;
    z-index: 999;
    top: 0;
    right: 100%;
    padding: 2rem 5% 0 0;
    transition: 300ms;
  }

  .nav-menu.nav-menu-open{
    right: 0;
  }
  
  .nav-menu .nav-menu-controller{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #1414144c;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }

  .nav-menu .nav-menu-controller  h5{
    color: black;
    font-size: 1.3rem;
  }

  .nav-menu .nav-menu-controller fa-icon{
    font-size: 1.3rem;
    color: rgb(30%, 70%, 100%);
    position: absolute;
    right: 10%;
  }

  .nav-menu .nav-menu-controller a .logo{
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .nav-menu .nav-container .nav-links{
    width: 100%;
    display: grid;
    gap: 1.5rem;
  }

  .nav-menu .nav-container .nav-links li{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #1414143c;
    display: flex;
    justify-content: space-between;
  }

  .nav-menu .nav-container .nav-links li fa-icon{
    display: block;
  }

  .nav-menu .nav-container .nav-links li a{
    color: #141414;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .nav-mobile {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-mobile .nav-container {
    width: 100%;
  }

  .nav-mobile .nav-mobile-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 100vw;
    margin-left: auto;
    place-items: center;
    z-index: 998;
  }

  .nav-mobile .nav-mobile-links li{
    padding: 0.7rem 0;
    transition: all 300ms ease;
    position: relative;
  }

  .nav-mobile .nav-mobile-links li a{
    font-size: 1.3rem !important;
  }

  .nav-mobile .nav-mobile-links li a::before{
    position: absolute;
    top: 0;
    content: '';
    height: 3px;
    margin-bottom: 0.5rem;
    background-color: rgb(30%, 70%, 100%);
    width: 100%;
    transition: all 300ms ease;
    padding: 0;
    border-radius:  0  0 2px 2px;
    display: none;
  }

  .nav-mobile .nav-mobile-links li:hover a{
    color: rgb(30%, 70%, 100%);
  }

  .nav-mobile .nav-mobile-links li.active a{
    color: rgb(30%, 70%, 100%);
  }

  .nav-mobile .nav-mobile-links li.active a::before{
    display: block;
  }

  .nav-mobile .nav-mobile-links li a {
    font-size: 1.3rem;
    display: grid;
    place-items: center;
    justify-content: center;
    transition: all 300ms ease;
  }

  .nav-mobile .nav-mobile-links li a p{
    margin-top: 5px;
    font-size: 0.5rem;
  }

  .notification-container{
    width: 100%;
    right: 0;
    top: 0;
    height: 100vh;
    border-radius: none;
    box-shadow: none;
    min-width: unset;
  }

  /* .nav-mobile .nav-mobile-links li:nth-child(3) a {
    position: absolute;
    left: calc(50vw - 10vw + 34.38px);
    bottom: 1rem;
    color: white;
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    justify-content: center;
  }

  .nav-mobile .nav-mobile-links li:nth-child(3) a:after{
    position: absolute;
    content: '';
    background-color: #141414;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: -1;
  } */
}